<h2>diretivas-atributos</h2>

<!--Diretivas de atrubutos mudam os atributos do elemento-->

<p>NGCLASS</p>

<!--permite definir uma classe dinâmicamente a partir do DOM de um elemento por meio de condições
    no caos abaixo tempos a prorpiedade valor no component.ts valor=true
-->

<div [ngClass]="{'active': valor, 'disable': !valor}">NgClass</div>

<p>NGSTYLE</p>

<!--permite alterar o valor da propriedade css-->

<div [ngStyle]="{'height': height, 'background': backgroundColor }">NgStyle</div>

<hr>

<p>NGMODEL</p>

<!-- Altera ao mesmo tempo o valor de uma variavel template-component ou component-template -->

<input [(ngModel)]="nome">

<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{ item.nome }}</li>

<p>NGTEMPLATE</p>

<ng-template [ngIf]="true">
  <p>true</p>
</ng-template>

<hr>

<p>PIPES</p>

<input [(ngModel)]="nome">

<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{ item.nome | uppercase}}</li>

<p>{{ date | date: "dd/MM/yyyy" }}</p>



